header{
    background: linear-gradient(#0000009e,#0000009e),linear-gradient(#0000009e,#0000009e),
    url(../../../images/family.jpg);
    background-size: cover;
    background-position: center right;
    
}