body{font-family: 'Nunito', sans-serif;}

.my-btn{
    background:#339AF0;
    padding: 6px 30px;
    font-size: 17px;
    color: #fff;
    border-radius: 0;
    font-weight: bold;
}
.my-btn:hover{
    color: #fff;
}